<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Awesome Server!</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <h1>Hello</h1>
    <form method="POST" action="/submit">
      <input type="text" name="name" placeholder="Please enter your name" />
      <input type="number" name="age" placeholder="Please enter your age" />
      <% if (error) { %>
      <p style="color: red"><%= error %></p>
      <% } %>
      <button type="submit">Send</button>
    </form>

    <% if (name) { %>
    <h1>Hello <%= name %> (<%= age %> år) 👋</h1>
    <% } %>

    <ul>
      <% names.forEach(n => { %>
      <li><%= n %></li>
      <% }) %>
    </ul>
  </body>
</html>
