@import url("https://fonts.googleapis.com/css2?family=Asimovian&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  background-color: #282c34;
}

.container {
  max-width: 1000px;
  margin: 50px auto;
  padding: 20px;
  background-color: #282c34;
  border-radius: 8px;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
}

.title {
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: center;
}

.title img {
  width: 75px;
}

h1 {
  color: white;
  font-family: "Asimovian", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* Messages form */

form {
  width: 100%;
}

.chat-row {
  display: flex;
  gap: 4px;
}

.chat-form {
  display: flex;
}

.chat-form input {
  flex: 1;
  padding: 8px;
  border: none;
  border-radius: 4px;
  background-color: #4e4e4e;
  color: white;
  font-size: 12px;
}

.chat-form input:focus {
  outline: none;
  box-shadow: 0 0 5px rgb(81, 91, 238);
}

.chat-form input:hover {
  background-color: #5e5e5e;
}

.send-button {
  background: #1a568f;
  border: none;
  border-radius: 4px;
  padding: 8px;
  margin-left: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.send-button:hover {
  background: #2374c0;
}

.send-button img {
  width: 16px;
  height: 16px;
}

.clear-form {
  width: fit-content;
}

.remove-button {
  background: #a73434;
  border: none;
  border-radius: 4px;
  padding: 8px;
  cursor: pointer;
  color: white;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.remove-button:hover {
  background: #e03c3c;
}

.chat-messages {
  max-height: 550px;
  overflow-y: auto;
  padding: 10px;
  margin-bottom: 10px;
}

.message {
  margin-bottom: 10px;
  padding: 5px;
}

.message.bruger {
  text-align: right;
  background-color: #4e4e4e;
  color: white;
  border-radius: 5px;
  width: fit-content;
  margin-left: auto;
  font-size: 12px;
}

.message.bot {
  text-align: left;
  color: white;
  font-size: 12px;
}

.message .timestamp {
  font-size: 8px;
  color: #bbbbbb;
  margin-bottom: 2px;
}

.message .category {
  font-size: 8px;
  padding: 0 2px;
  background-color: #1a568f;
}

.message .text {
  display: flex;
  align-items: center;
  gap: 6px;
  margin: 6px 0;
}

.message .text img {
  width: 25px;
  height: auto;
}

.error-message {
  color: red;
  justify-self: center;
  padding: 5px;
  margin: 10px 0;
  border-radius: 5px;
  font-size: 12px;
}

.success-message {
  color: green;
  justify-self: center;
  padding: 5px;
  margin: 10px 0;
  border-radius: 5px;
  font-size: 12px;
}

/* Lære botten noget nyt sektion */

h3 {
  color: white;
}

.teach-bot {
  margin-top: 20px;
  padding: 10px 5px;
  border-top: 1px solid #4e4e4e;
}

.teach-bot form {
  display: flex;
  gap: 4px;
  margin-top: 10px;
}

.teach-bot form input {
  padding: 8px;
  border: none;
  border-radius: 4px;
  background-color: #4e4e4e;
  color: white;
  font-size: 12px;
  flex: 1;
}

.teach-bot form input:focus {
  outline: none;
  box-shadow: 0 0 5px rgb(81, 238, 128);
}

.teach-bot form input:hover {
  background-color: #5e5e5e;
}

.add-button {
  background: #1a8f24;
  border: none;
  border-radius: 4px;
  padding: 8px;
  cursor: pointer;
  color: white;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-button:hover {
  background: #23c045;
}
